@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    background-color: red;
}

.ss {
    width: 200px;
    height: 200px;
    background-color: red;
    background-image: url("assets/images.jpg");
}
